<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Document</title>
</head>
<body>
    <header>
                <button><a href="http://127.0.0.1:8000/signin" target="_blank" rel="noopener noreferrer">sign in</a></button>
                <button><a href="http://127.0.0.1:8000/login" target="_blank" rel="noopener noreferrer">log in</a></button>
    </header>
</body>
</html>