<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <div id="logo">
                <img src="./img/logo.png" alt="logo" width="50px" height="50px">
            </div>
            <ul>
                <li><a href="#">HP</a></li>
                <li><a href="#">acer</a></li>
                <li><a href="#">DELL</a></li>
                <li><a href="#">huawai</a></li>
                <li></li>
            </ul>
        </nav>
        <main>
                <button id="btn-1"><a href="http://127.0.0.1:8000/signin" target="_blank" rel="noopener noreferrer">sign in</a></button>
                <button id="btn-2"><a href="http://127.0.0.1:8000/login" target="_blank" rel="noopener noreferrer">log in</a></button>
        </main>
    </header>
</body>
</html>