<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./base.css">
</head>
<body>
    <address>
        <label for="country">country :</label><br>
        <input type="text" id="country" placeholder=""><br>
        <label for="state">state :</label><br>
        <input type="text" id ="state" placeholder=""><br>
        <label for="postal_number">postal_number :</label><br>
        <input type="text" id="postal_number" placeholder=""><br>
        <input type="button" value="submit" id="button_address">
    </address>
    <script src="./product.js">
    </script>
</body>
</html>